body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#111827;
}

ul{
display:flex;
gap:20px;
list-style:none;
}

a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
}

button{
padding:12px 25px;
border:none;
border-radius:10px;
background:#38bdf8;
color:white;
cursor:pointer;
}
